.container_title
{
  margin-top: 50px;
}

.img_logo
{
  width: 60%;
}

.navbar_top
{
  background-color: #6BC1BB;
}

.navbar-brand
{
  color: blue;
}

.link_1
{
  font-weight: bold;
  color: #fd5857;
}

.link_1:hover
{
  font-weight: bold;
  color: #f72221;
}

.lbl_page_title
{
  color: #fd5857;
}

.div_blog_article
{
	border-style: solid;
	border-width: thin;
	border-color: #e7e7e7;
	margin-top: 30px;
}

.lbl_blog_title
{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color:#fd5857;
  cursor: auto;
  display: inline;
  font-family: arial;
  font-size: 70px;
  font-style: normal;
  height: auto;
  line-height: 33.5999984741211px;
  outline-color: rgb(63, 63, 63);
  outline-style: none;
  outline-width: 0px;
  text-decoration: none;
  text-transform: none;
  width: auto;
}

.lbl_blog_content
{
	color: #afacac;
}

.lbl_blog_author
{
	color: #afacac;
	font-weight: bold;	
}

.btn_read
{
	float: right;
	margin-bottom: 20px;
}